
input {
  padding: 11px 20px 11px;
  border-radius: 4px;
  margin-bottom: 16px;
  max-width: 400px;


  @include boxAndShadow;

  & :hover {
    outline: none;
  }
}


.btn-md-primary--white {
  padding: 12px 42px 14px;
  border-radius: 30px;
  border: 1px white solid;
  color: black;
  background:  white;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  // margin-top: 54px;
  transform: scale(1);
  //font-family: $mont;

  &:hover {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
    transform: scale(0.98);
    // border: 1px $blue--darker solid;
    cursor: pointer;
  }
}

.button {
    /* Rectangle */
    border-radius: 4px;
    height: 48px;
    width: 156px;
    padding: 0rem 2rem;
    border: none;
    /* TEXT */
    font-family: $Roboto;
    font-size: 16px;
    letter-spacing: 1.45px;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
    
    &--primary {
      background: $blue--primary;
      color: $white--off;
      box-shadow: 0 3px 6px 0 rgba(0,0,0,0.10);

      &:hover {
        background: $blue--hover;
      }
    }
   
    &--secondary {
      background: $grey;
      color: $text--grey;
      /* Rectangle */
      border: 1px solid rgba(151,151,151,0.20);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);

      &:hover {
        background: $grey--hover;
      }
    }
}