.step {
    margin-top: 4rem;

    &__form {
        /* Rectangle */
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
        border-radius: 4px;
        padding: 40px;

        min-height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

.selectInput {
    width: 128px;
    height: 128px;
    text-align: center;
    padding: 20px 20px 15px 20px;
    margin-right: 20px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-end;

    &:hover {
        //background: lightgrey;
        cursor: pointer;

        & p {
            color: white;
        }

        & svg {
            fill: white;
        }
    }

    @include boxAndShadow;

    &--big {
        width: 180px!important;
        height: 180px!important;

        @include mq('sm', max) {
            width: 100%!important;
            height: 140px!important;
        }
    }
    
    &--medium {
        width: 128px!important;
        height: 128px!important;

        @include mq('sm', max) {
           width: 100%!important;
            height: 140px!important;
        }
    }
    
    &--small {
        width: 120px!important;
        height: 51px!important;

        @include mq('sm', max) {
            width: 100%!important;
            height: 51px!important;
         }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 0rem;
    }

    &__title {
       text-align: center;
    }
}

.selectInput--big.active {
    font-size: 28px;
    transition: all .3s ease-in-out;
}
.selectInput--medium.active {
    font-size: 34px;
    transition: all .3s ease-in-out;
}
.selectInput--small.active {
    font-size: 18px;
    padding: 0px;
    transition: all .3s ease-in-out;
}

.tooltipMe {
	border-radius: 4px;
    background-color: #5BC0EB;
    padding: 1rem;
    transition: all 0.3s ease;
    position: absolute;
    width: 178px;
    margin-top: calc(178px + 35px);
    font-size: 12px;
    text-align: center;
    color: #101010;
    //text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    height: 178px;
    width: 178px;
    vertical-align: middle;
    display: flex;
    align-items: center;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #5BC0EB;
        left: 46%;
        top: -7px;
    }
}

.tooltipMe--inline {
    border-radius: 4px;
    background-color: #5BC0EB;
    padding: 1rem;
    transition: all 0.3s ease;
    font-size: 12px;
    text-align: center;
    color: #101010;
    vertical-align: middle;
    height: 51px;

    & p {
        margin-bottom: 0!important;
    }


    @include mq('md', max) {
        min-height: 70px!important;
    }
  
}