.navigation {
    min-height: 60px;
    height: 100%;
    background: $blue--dark;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

    padding-left: 30px;
    padding-right: 30px;

    color: white;

    & p {
        margin-bottom: 0rem;
        margin-left: 8px;
    }
}

.number {
    padding: 10px;

    & svg {
        width: 22px;
        height: 22px;
        margin-top: 2px;
    }

    & p {
        font-size: 30px;
        color: white;
    }
}

.logos {
    padding: 16px;
    margin-top: 5px;

    display: flex;

    & img:first-child {
        height: 40px;
    }
    & img:last-child {
        height: 34px;
        opacity: 0.5;
        width: 90px;
        margin-top: -2px;
        margin-left: 16px;
       
    }
}