  <div class="step" v-show="step === 4">
                        <h1 class="formTitle">
                            {{content[3].title}}
                        </h1>
                        
                        <!-- Fields -->
                        <div class="step__form">

                            <label for="name" class="formQuestion">{{content[3].question1}}</label>
                            <input id="name" name="name" v-model="registration.name">
                           
                           <hr>

                            <label for="name" class="formQuestion">{{content[3].question2}}</label>
                            <input id="name" name="name" v-model="registration.name">
        
                            <div class="formButtons">
                                <button class="button button--secondary" @click.prevent="prev()">{{buttonPrevious}}</button>
                                <button class="button button--primary"  @click.prevent="next()">{{buttonNext}}</button>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- STEP 5 -->
                     <div class="step" v-show="step === 5">
                        <h1 class="formTitle">
                            {{content[4].title}}
                        </h1>
                        
                        <!-- Fields -->
                        <div class="step__form">

                            <label for="name" class="formQuestion">{{content[4].question1}}</label>
                            <input id="name" name="name" v-model="registration.name">
        
                            <div class="formButtons">
                                <button class="button button--secondary" @click.prevent="prev()">{{buttonPrevious}}</button>
                                <button class="button button--primary"  @click.prevent="next()">{{buttonNext}}</button>
                            </div>
                            
                        </div>
                    </div>

                     <!-- STEP 6 -->
                     <div class="step" v-show="step === 6">
                        <h1 class="formTitle">
                            {{content[5].title}}
                        </h1>
                        
                        <!-- Fields -->
                        <div class="step__form">

                            <label for="name" class="formQuestion">{{content[5].question1}}</label>
                            <input id="name" name="name" v-model="registration.name">
                           
                            <hr>

                            <label for="name" class="formQuestion">{{content[5].question2}}</label>
                            <input id="name" name="name" v-model="registration.name">
        
                            <div class="formButtons">
                                <button class="button button--secondary" @click.prevent="prev()">{{buttonPrevious}}</button>
                                <button class="button button--primary"  @click.prevent="next()">{{buttonNext}}</button>
                            </div>
                            
                        </div>
                    </div>

                     <!-- STEP 7 -->
                     <div class="step" v-show="step === 7">
                        <h1 class="formTitle">
                            {{content[6].title}}
                        </h1>
                        
                        <!-- Fields -->
                        <div class="step__form">

                            <label for="name" class="formQuestion">{{content[6].fields1}}</label>
                            <input id="name" name="name" v-model="registration.name">
        
                            <div class="formButtons">
                                <button class="button button--secondary" @click.prevent="prev()">{{buttonPrevious}}</button>
                                <button class="button button--primary"  @click.prevent="next()">{{buttonNext}}</button>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- STEP 8 -->
                     <div class="step" v-show="step === 8">
                        <h1 class="formTitle">
                            {{content[7].title}}
                        </h1>
                        
                        <!-- Fields -->
                        <div class="step__form">

                            <label for="name" class="formQuestion">{{content[7].fields1}}</label>
                            <input id="name" name="name" v-model="registration.name">
        
                            <div class="formButtons">
                                <button class="button button--secondary" @click.prevent="prev()">{{buttonPrevious}}</button>
                                <button class="button button--primary"  @click.prevent="next()">{{buttonNext}}</button>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- STEP 9 -->
                     <div class="step" v-show="step === 9">
                        <h1 class="formTitle">
                            {{content[8].title}}
                        </h1>
                        
                        <!-- Fields -->
                        <div class="step__form">

                            <label for="name" class="formQuestion">{{content[8].topTitle}}</label>
                            <input id="name" name="name" v-model="registration.name">
                            
                            <h1>END</h1>
                            
                            <label for="name" class="formQuestion">{{content[8].subTitle}}</label>
                            <input id="name" name="name" v-model="registration.name">
        
                            <div class="formButtons">
                                <button class="button button--secondary" @click.prevent="prev()">{{buttonPrevious}}</button>
                                <button class="button button--primary"  @click.prevent="next()">{{buttonNext}}</button>
                            </div>
                            
                        </div>
                    </div>