@keyframes sinusoid {
    0%, 50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: cubic-bezier(.2,.25,.55,1);
        animation-timing-function: cubic-bezier(.2,.25,.55,1);
    }
    25% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
        -webkit-animation-timing-function: cubic-bezier(.45,0,.8,.75);
        animation-timing-function: cubic-bezier(.45,0,.8,.75);
    }
    75% {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        -webkit-animation-timing-function: cubic-bezier(.45,0,.8,.75);
        animation-timing-function: cubic-bezier(.45,0,.8,.75);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }


.sinusoid {
    animation: sinusoid 3s ease infinite;
}

.fadeIn {
    animation: fadeIn .3s ease-in;
}

.fadeInSlow {
    animation: fadeIn 1.1s ease-in-out;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.lottie {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    position: absolute;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width:1067px;
    height:600px;
    margin-top: 20%;

    @include mq('sm', max) {
        width: 400px;
        height: 600px;
        //margin-top: 200px;
        margin-top: 70%!important;;
    }

    
    @include mq('xl', min) {
        height: 500px;
        //margin-top: 200px;
        margin-top: 13%!important;
    }

    // @include mq('xl', min) {
    //     margin-top: 13%!important;
    // }
 


    & svg {
        width: 300px;
    }
}

@media only screen and (min-width: 1140px) {
    .lottie {
  
        margin-top: 15% !important;
    }
}

@keyframes slideshow {
    0%    { margin-left: 0; }
    50%  { margin-left: -300%; }
    100%  { margin-left: 0; }
  }

@keyframes scaleAnimation {
    0%    {  transform: scale(1); }
    50%  { transform: scale(1.2); }
    100%  { transform: scale(1); }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    
    50% {
      filter: hue-rotate(100deg);
    }
    
    100% {
      filter: hue-rotate(0deg);
    }
  }
 
  @keyframes appear3d {
    from {
        //transform: scale(1.4) translateY(60px) rotate3d(-100,100,95,-42deg);
        transform: scale(1.6) translateY(0px) perspective(400px) rotateY(-45deg)  rotate3d(-30, 30, 60, 10deg);
        opacity: 0;
    }
    

    to {
        transform: scale(1) translateY(0px) perspective(0px) rotateY(0deg) rotate3d(0, 0, 0, 0deg);
        opacity: 1;
    }
  }

  @keyframes spinner5 {
    from,15% {
      -moz-transform: rotateY(0);
      -ms-transform: rotateY(0);
      transform: rotateY(0);
    }
    20%,35%  {
      -moz-transform: rotateY(-72deg);
      -ms-transform: rotateY(-72deg);
      transform: rotateY(-72deg);
    }
    40%,55%  {
      -moz-transform: rotateY(-144deg);
      -ms-transform: rotateY(-144deg);
      transform: rotateY(-144deg);
    }
    60%,75%  {
      -moz-transform: rotateY(-216deg);
      -ms-transform: rotateY(-216deg);
      transform: rotateY(-216deg);
    }
    80%,95%  {
      -moz-transform: rotateY(-288deg);
      -ms-transform: rotateY(-288deg);
      transform: rotateY(-288deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }

  @keyframes scrollDown {
    0%    { transform: translateY(0%); }
    50%  { transform: translateY(-24%); }
    100%  { transform: translateY(-44%); }
  }

  @keyframes scaleClick {
    0%    { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100%  { transform: scale(1); }
  }


  @keyframes imageSelect {
    0% {
      opacity: 0;
      
      transform: scale(0.9) translateX(24%);
    }

    50% {
      opacity: 1;
      transform: scale(1) translateX(0%);
    }
    
    100% {
      opacity: 0;
      transform: scale(0.9) translateX(-24%);
    }
 }

 @keyframes fadeOutSelect {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
  
  100% {
    opacity: 0;
    transform: scale(0.9) translateX(-24%);
    display: none;
  }
 }

 @keyframes fadeInSelect {
    0% {
      opacity: 0;
      
      transform: scale(0.9) translateX(24%);
    }

    50% {
      opacity: 1;
      transform: scale(1) translateX(0%);
    }
 }

 @keyframes fadeInMagnify {
    0% {
      opacity: 0;
      
      transform: scale(0.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
 }



 /* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .750s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeUpIconSlow {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-40%);
  }
}