// COLOR VARIABLES
$white--off: #fdfdfd;
$grey--light: #f3f3f3;
$grey: #e6e6e6;

$black: #101010;
$blue--dark: #2B414E;
$blue--primary: #5BC0EB;
$blue--light: rgba(229, 242, 252, 0.4);

$text--grey: #828282;
$text--darkBlue: #2B414E;

// Other
$grey--border: #979797;
$grey--hover: rgb(220, 220, 220);
$blue--hover: rgb(93, 153, 196);

