@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto:400,500');

// FONT VARIABLES
$Roboto:'Roboto', sans-serif;
$Noto: 'Noto+Serif', serif;

$font-titles: $Noto;
$font-display: $Roboto;

.formQuestion {
    font-family: $Roboto;
    color: $blue--dark;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 24px;
}

.formTitle {
    font-family: $Noto;
    font-size: 32px;
    color: $blue--dark;
}

.formFieldSelectFont {
    font-family: $Roboto;
    font-size: 14px;
    color: $text--grey;

    &--big {
        font-size: 30px;
        color: $text--grey;

    }
    
    &--medium {
        font-size: 20px;
        color: $text--grey;

    }

}

.text--light {
    color: $text--grey;
}