
.content {
    min-height: calc(100vh - 77px);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjEwMjQiIHZpZXdCb3g9IjAgMCAxNDQwIDEwMjQiPiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iOTI3IiBmaWxsPSIjRjlGOUY5Ii8+ICAgIDxwb2x5Z29uIGZpbGw9IiNGNUY1RjUiIGZpbGwtcnVsZT0ibm9uemVybyIgcG9pbnRzPSIwIDc1IDg5NiAxMDI0IC4zIDEwMjQiLz4gICAgPHBvbHlnb24gZmlsbD0iI0YwRjFGMiIgZmlsbC1ydWxlPSJub256ZXJvIiBwb2ludHM9IjE0NDAgNDMxIDUxMCAxMDI0IDE0MzkuNyAxMDI0Ii8+ICA8L2c+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100%;

    overflow: hidden;

    @include mq('md', max) {
        background-image: none;
     }
}

.container--maxWidth {
    max-width: 1000px;
}

.formButtons {
    display: flex;
    justify-content: space-between;

    &--step1 {
        display: flex;
        justify-content: flex-end;
    }
}

.thumbnail {
    text-align: center;

    & p {
        margin-bottom: 0;
        font-size: 14px;
    }

    @include mq('sm', max) {
       margin-bottom: 2rem;
       margin-top: 2rem;
    }

    & img {
        max-width: 124px;
        max-height: 124px;
        margin-bottom: 8px;
    }
}

.profileList {
    margin-top: 3.8rem;
    line-height: 2rem;
    text-align: right;
    font-size: 17px;
    font-family: "Roboto", sans-serif;

    @include mq('md', max) {
        margin-top: 0rem;
        margin-left: 0px;
     }


    & ul {
        list-style: none;

        & li {
            display: flex;
            justify-content: flex-end;

            @include mq('md', max) {
                justify-content: flex-start;
             }

            & svg {
                margin-top: 10px;
                margin-left: 8px;

                @include mq('md', max) {
                    margin-left: 0px;
                    margin-right: 8px;
                 }
            }
        }
    }
}

.noMargin {
    @include mq('sm', max) {
      margin: 0!important;
    }
  }

  .checkmark {
    margin-top: 50px;

      & img {
          width: 150px;
          height: 150px;
      }
  }

  .introductionAnimation {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        width: 60px;
        animation: scaleAnimation 3s ease-in-out;
        margin-bottom: 36px;
    }

    & svg {
        animation: pulse infinite ease-in-out;
    }
  }

  .secure {

    & a {
        text-decoration: underline;
        color: #828282;
    }

    & p {
        margin-top: 12px;
        margin-left: 8px;
    }

    & img {
        width: 80px;
        height: 51px;
    }
  }